.hero {
  display: flex;
  justify-content: center;
  height: 92vh;
  background: url('../portfolio-hero.jpeg') no-repeat center center fixed;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $c-primary-text;
  }

  &__header {
    margin-bottom: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 5rem;
    animation-delay: 0.8s;
  }

  &__tag {
    color: $c-primary;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    animation-delay: 1s;
  }
}
