.skillz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.skill-item {
  padding: 0.5rem;
  border-radius: 0.4rem;

  &:hover {
    animation: skew 0.5s;
    animation-direction: alternate;
    @keyframes skew {
      0% {
        transform: rotate(-5deg);
      }

      25% {
        transform: skew(10deg);
      }

      50% {
        transform: scale(.5, 1.5);

      }

      75% {
        transform: skew(-10deg);
        transform: scale(1.5, .5);
      }

      100% {
        transform: rotate(5deg);
        transform: scale(.7, .7);
      }
    }
  }
}

.html {
  background: blue;
  color: white;
}

.css {
    background: #206fa8;
    color: white;
}

.js {
    background: #9cd5e0;
    color: white;
}

.node {
    background: #72aa62;
    color: white;
}

.vue {
    background: #35495e;
    color: white;
}

.ember {
    background: #e46551;
    color: white;
}

.adonis {
    background: #744d82;
    color: white;
}

.bulma {
    background: #01d1b2;
    color: white;
}

.materialize {
    background: #ee6e73;
    color: white;
}
