// $c-primary: #00796B;
$c-primary: #283593;
$c-primary-text: #ECEFF1;
$c-background: #CFD8DC;
$c-black: #334;
// @import fa-font-path:   "../font";
@import "_reset";
@import "_full-page";
@import "_nav";
@import "_hero";
@import "_grid";


.icon-box {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  color: $c-primary-text;
  animation-delay: 1.3s;
}
