// $c-primary: #00796B;
$c-primary: #283593;
$c-primary-text: #ECEFF1;
$c-background: #CFD8DC;
$c-black: #334;
// @import fa-font-path:   "../font";
@import "_reset";
@import "_full-page";
@import "_nav";
@import "_hero";
@import "_grid";

.icon-box {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  animation-delay: 1.3s;

  a {
    color: $c-primary;
  }
}

.bold {
  font-weight: bolder;
  font-style: italic;
  font-size: large;
}

.section-contact {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-card {
  width: 100%;
  margin: 4rem 0;
  padding: 1rem;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);
}

.card-title {
  width: 100%;
  text-align: center;
  color: $c-primary;
  font-size: 2rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-item {
  font-size: 1.5rem;
}

.card__icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  a {
    color: $c-primary;
  }
}
