$c-primary: #607D8B;
$c-primary-text: #ECEFF1;


@import "_reset";
@import "_full-page";
@import "_nav";
@import "_hero";

.grid__title {
  color: $c-primary;
  border-bottom: 0.2rem solid $c-primary;
  // font-family: 'Yeseva One', cursive;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 -1rem;

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);

    &-image {
      border: 1px solid $c-primary;
    }
  }


}
