<div class="hero">
  <div class="hero__content">
    <h1 class="hero__header animated zoomIn">Hello World</h1>
    <h2 class="hero__tag animated rollIn">{{#link-to "project"}}I Build the Internet (ok maybe just a tiny corner).{{/link-to}}</h2>
    <div class="icon-box animated rollIn">
      <a href="https://github.com/derrickbray"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/derrick-bray"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/derrickbray"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>


<div class="container">
  <h1 class="grid__title transform animated zoomIn">My Projects</h1>
  <div class="grid transform animated fadeInUp">

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="https://asafetynet.herokuapp.com/"><img src="../images/safety.png" alt=""></a>
      </div>
      <a href="https://asafetynet.herokuapp.com/" class="grid__item-link">Safety Net</a>
      <p class="grid__item-description">
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://military-advertisement.surge.sh"><img src="../images/marvel.png" alt=""></a>
      </div>
      <a href="http://military-advertisement.surge.sh" class="grid__item-link">Marvel Character Info</a>
      <p class="grid__item-description">You can search for a character, and if he or she has a series in the marvel api, the page fills with relevent characters and comics. It was built using <span class="bold">VueJS</span> and custom styling. Some buttons don't pull up any information
        because the the API dosen'thave any info, just keep clicking.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://illustrious-curtain.surge.sh"><img src="../images/menu.png" alt=""></a>
      </div>
      <a href="http://illustrious-curtain.surge.sh" class="grid__item-link">Menu Creator</a>
      <p class="grid__item-description">Menu Creator is a site with an admin page that allows you to add/edit/destroy \menu items. It was built using <span class="bold">EmberJS</span> with custom styling. Go ahead and create a new menu item or edit one that's already there, but please
        be patient the free server is a bit slow.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://brave-heart.surge.sh"><img src="../images/monster.png" alt=""></a>
      </div>
      <a href="http://brave-heart.surge.sh" class="grid__item-link">Monster Maker</a>
      <p class="grid__item-description">This is a fun monster maker app. It's built in <span class="bold">VueJS</span>. Choose your body, mouth, and eyes to make a new monster. Give it a name and save.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://hurried-square.surge.sh"><img src="../images/puppy.png" alt=""></a>
      </div>
      <a href="http://hurried-square.surge.sh" class="grid__item-link">Puppy Adopter</a>
      <p class="grid__item-description">Adopt a puppy! This site allows you to post and delete puppies that need to be adopted. The puppies are divided into adopted/not-adopted. The site was built with <span class="bold">VueJS</span> and <span class="bold">Bulma</span>. Go and add or
        adopt a puppy.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://parallel-leather.surge.sh"><img src="../images/twitch.png" alt=""></a>
      </div>
      <a href="http://parallel-leather.surge.sh" class="grid__item-link">Twitch Clone</a>
      <p class="grid__item-description">This is a mockup of the Twitch Website. I tried to recreate the logo the best I could without using there logo image. As you resize the screen the side bars will collapse. It was built with custom CSS and plain <span class="bold">JavaScript</span>.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://certain-partner.surge.sh/"><img src="../images/t-shirts.png" alt=""></a>
      </div>
      <a href="http://certain-partner.surge.sh/" class="grid__item-link">T-Shirt Order Page</a>
      <p class="grid__item-description">Order your new t-shirt here. This is built with just HTML and CSS. The orientation changes as the size of the screen changes.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://fretful-protest.surge.sh"><img src="../images/futurama.png" alt=""></a>
      </div>
      <a href="http://fretful-protest.surge.sh" class="grid__item-link">Netflix Info Page</a>
      <p class="grid__item-description">This is a search page that will return information about shows and movies on netflix. It's built in plain <span class="bold">JavaScript</span> and custom CSS.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href=""><img src="../images/post-it.png" alt=""></a>
      </div>
      <a href="" class="grid__item-link">Post-it Social Site</a>
      <p class="grid__item-description">stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project.
      </p>
    </div>

  </div>
  <div class="container">
    <h1 class="card-title">Contact Me</h1>
    <div class="section-contact transform animated fadeInUp">
      <div class="contact-card">

        <div class="card-content">

          <div class="card-text">
            <h3 class="card-item">Thanks for stopping by.</h3>
            <h3 class="card-item">Feel free to contact me.</h3>
            <h3 class="card-item">E-mail: <a href="mailto:derrickbray82@gmail.com">derrickbray82@gmail.com</a></h3>
            <h3 class="card-item">By Phone: <a href="tel:6154563100">(615) 456-3100</a></h3>
          </div>

          <div class="card__icon-box">
            <a href="https://github.com/derrickbray"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/derrick-bray"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/derrickbray"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
