<div class="hero">
  <div class="hero__content">
    <h1 class="hero__header animated zoomIn">Hello World</h1>
    <h2 class="hero__tag animated rollIn">{{#link-to "project"}}I Build Websites.{{/link-to}}</h2>
  </div>
</div>
