<div class="container">
  <h1 class="grid__title">My Projects</h1>
  <div class="grid">

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://military-advertisement.surge.sh"><img src="http://www.fillmurray.com/284/196" alt=""></a>
      </div>
      <a href="http://military-advertisement.surge.sh" class="grid__item-link">Safety Net</a>
      <p class="grid__item-description">safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net. safety net.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://military-advertisement.surge.sh"><img src="../images/marvel.png" alt=""></a>
      </div>
      <a href="http://military-advertisement.surge.sh" class="grid__item-link">Marvel Character Info</a>
      <p class="grid__item-description">You can search for a character, and if he or she has a series in the marvel api, the page fills with relevent characters and comics.  It was build using VueJS and custom styling.  Some buttons don't pull up any information because the the API dosen't have any info, just keep clicking.
      </p>
    </div>


    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://parallel-leather.surge.sh"><img src="../images/twitch.png" alt=""></a>
      </div>
      <a href="http://parallel-leather.surge.sh" class="grid__item-link">Twitch Clone</a>
      <p class="grid__item-description">This is a mockup of the Twitch Website.  As you resize the screen the side bars will collapse.  It was built with custom CSS and plain JavaScript.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://illustrious-curtain.surge.sh"><img src="../images/menu.png" alt=""></a>
      </div>
      <a href="http://illustrious-curtain.surge.sh" class="grid__item-link">Menu Maker</a>
      <p class="grid__item-description">Menu Maker is a site with an admin page that allows you to add/edit/destroy new menu items.  It was built using EmberJS with custom styling.  Go ahead and create a new menu item or edit one that's already there.  But be patient the free server is a bit slow.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href=""><img src="../images/post-it.png" alt=""></a>
      </div>
      <a href="" class="grid__item-link">Post-it Social Site</a>
      <p class="grid__item-description">stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://brave-heart.surge.sh"><img src="../images/monster.png" alt=""></a>
      </div>
      <a href="http://brave-heart.surge.sh" class="grid__item-link">Monster Maker</a>
      <p class="grid__item-description">This is a fun monster maker app.  It's built in VueJS.  Choose your body, mouth, and eyes to make a new monster.  Give it a name and save.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://hurried-square.surge.sh"><img src="../images/puppy.png" alt=""></a>
      </div>
      <a href="http://hurried-square.surge.sh" class="grid__item-link">Puppy Adopter</a>
      <p class="grid__item-description">Adopt a puppy!  This site allows you to post and delete puppies that need to be adopted.  The puppies are divided into adopted/not-adopted.  The site was built with VueJS and Bulma.  Go and add or adoopt a puppy.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://fretful-protest.surge.sh"><img src="../images/futurama.png" alt=""></a>
      </div>
      <a href="http://fretful-protest.surge.sh" class="grid__item-link">Netflix Info Page</a>
      <p class="grid__item-description">This is a search page that will return information about shows and movies on netflix.  It's built in plain JavaScript and custom CSS.  Search for your favorite show.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://certain-partner.surge.sh/"><img src="../images/t-shirts.png" alt=""></a>
      </div>
      <a href="http://certain-partner.surge.sh/" class="grid__item-link">T-Shirt Order Page</a>
      <p class="grid__item-description">Order your new t-shirt here.  This is built is simple HTML and CSS.  The orientation changes as the size of the screen changes.
      </p>
    </div>

  </div>
</div>
