<div class="grid__title">My Projects</div>
<div class="grid">
  <div class="grid__item">
    <img class="grid__item-image" src="" alt="">
    <p class="grid__item-description">stuff and things about this project.  stuff and things about this project.
        stuff and things about this project.  stuff and things about this project.  stuff and things about this project.
    </p>
  </div>
</div>
