<div class="container">
  <h1 class="grid__title">My Projects</h1>
  <div class="grid">
    <div class="grid__item">
      <div class="grid__item-image">
        <img src="../images/marvel.png" alt="">
      </div>
      <p class="grid__item-description">stuff and things about this project. stuff and things about this project.
        stuff and things about this project. stuff and things about this project. stuff and things about this project.
      </p>
    </div>
  </div>
</div>
