<div class="container">
  <h1 class="grid__title">My Projects</h1>
  <div class="grid">

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://military-advertisement.surge.sh"><img src="../images/marvel.png" alt=""></a>
      </div>
      <a href="http://military-advertisement.surge.sh" class="grid__item-link">Marvel Character Info</a>
      <p class="grid__item-description">You can search for a character, and if he or she has a series in the marvel api, the page fills with relevent characters and comics.  It was build using VueJS and custom styling.  Some buttons don't pull up any information because the the API dosen't have any info, just keep clicking.
      </p>
    </div>


    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://parallel-leather.surge.sh"><img src="../images/twitch.png" alt=""></a>
      </div>
      <a href="http://parallel-leather.surge.sh" class="grid__item-link">Twitch Clone</a>
      <p class="grid__item-description">This is a mockup of the Twitch Website.  As you resize the screen the side bars will collapse.  It was built with custom CSS and plain JavaScript.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href="http://illustrious-curtain.surge.sh"><img src="../images/menu.png" alt=""></a>
      </div>
      <a href="http://illustrious-curtain.surge.sh" class="grid__item-link">Menu Maker</a>
      <p class="grid__item-description">Menu Maker is a site with an admin page that allows you to add/edit/destroy new menu items.  It was built using EmberJS with custom styling.  Go ahead and create a new menu item or edit one that's already there.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href=""><img src="../images/post-it.png" alt=""></a>
      </div>
      <a href="" class="grid__item-link">Post-it Social Site</a>
      <p class="grid__item-description">stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href=""><img src="../images/netflix.png" alt=""></a>
      </div>
      <a href="" class="grid__item-link">Go See It!</a>
      <p class="grid__item-description">stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project.
      </p>
    </div>

    <div class="grid__item">
      <div class="grid__item-image">
        <a href=""><img src="../images/monster.png" alt=""></a>
      </div>
      <a href="" class="grid__item-link">Go See It!</a>
      <p class="grid__item-description">stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project. stuff and things about this project.
      </p>
    </div>

  </div>
</div>
